@font-face {
    font-family: 'digory_doodlesregular';
    src: url('digory_doodles_ps-webfont.eot');
    src: url('digory_doodles_ps-webfont.eot') format('embedded-opentype'),
         url('digory_doodles_ps-webfont.woff') format('woff'),
         url('digory_doodles_ps-webfont.ttf') format('truetype'),
         url('digory_doodles_ps-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}
body{
    background-color: black;
}
a{
    text-decoration: none;
}
.admini{
    color: white;
    text-align: center;
    font-size: 120%; 
    font-family:'digory_doodlesregular';
   height: 50px;

}

li {
    list-style: none;
     margin-left: 8%;
    font-size: 150%;   
    width: 216px;
    height: 60px;
    text-align: center;
    padding-top: 0.4%; 
    border-top-left-radius:25px;
    border-top-right-radius:25px;
    

}  
 
.accueil{
    background-color: red;
}
.recettes{
    background-color: teal;
}
.inscription{
    background-color:greenyellow;
}
.connexion{
    background-color:orange;
}
.profil{
    background-color: yellow;
}
.admin{
    background-color:chartreuse; 
}
#chapitres{
   width: 500px;
    border: solid 4px white;
}

.avatarPs{
    width: 75px;
    height: 75px;
    border-radius: 50%;   
}
.ingredients{
    background-color:grey;  
    border-top-right-radius: 40px;    
    border-top-left-radius: 40px;
    width: 400px;
}
.photoRe{
    width: 388px;
    
}
.content{
    width: 400px;
}
.pagination{
    margin-top: 2%;
    text-align: center;
   
}
.pagination a{
  padding-left: 1%;
  padding-right: 1%;
  border:solid white 1px;
  border-radius:8%;
  text-align: center;
  color:red;
}

.pagination a:hover{
    color: black;
    background-color: white;
    border: white;
}
.pagination font{
  padding-left: 1%;
  padding-right: 1%;
  border:solid 2px;
  border-radius:8%;
  text-align: center;

}
#pdp{
    color:white;
    padding-left: 7%;
    padding-right: 5%;
}
.pdp1{
  color:white;
 
}
footer{
    border-top:solid red;
    margin-top: 3%;
}
.meteo{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.commentaires a{
    color: red;
}
#submit{
    background-color: red;
    color:white;
    font-weight: bold;
    margin-left: 30%;
    margin-top: 2%;
    padding: 0.5%;
    border-radius: 15%;
}
#bouton{
   width: 600px;
    margin-top: 5%;
}
.photoRecette{
    padding-left: 30px;
}
#connex{
    color:white;
    font-weight: bold;
    font-size: 120%; 
    border: solid white;
    text-align: center;   
    background-color:blue;
    border-top-left-radius:25px;
    border-top-right-radius:25px;
    border-bottom-right-radius:25px;
    border-bottom-left-radius:25px;
   
  
    
}
#inscrip{
  color:white;
  font-weight: bold;
  font-size: 120%;   
  border: solid white;
  text-align: center;  
  background-color: red;
  border-top-left-radius:25px;
  border-top-right-radius:25px;
  border-bottom-right-radius:25px;
  border-bottom-left-radius:25px;
}
#inscription{
    border-radius:1.3em;
    border:solid white 2px;  
   
    
}  
#connexion{
    border-radius:1.3em;
    border:solid white 2px;
     position: absolute;    
    top:30%; 
    
   

}
#averti
{
   position: absolute;
   top:70%;
   left:40%;
   font-weight: bold;
   font-size: 120%;
}
   
  
  
  #ing{
      
      margin: 0 auto;
  }
  #content{
      
    margin: 0 auto;
}

   
    .photo{
        width: 150px;
        height: 150px;
        border-radius: 50%;
      
    }
    th{
        color: white;
        background-color: red;
    }
    td{
        border: solid white;
        text-align: center;
        color:white;
    }
    .btn1{
        width: 30px;
        color:white;
        background-color: red;
    }
    .btn2{
      width: 30px;
      color:white;
      background-color: green;
  
    }
    .btn3{
      width: 30px;
      color:white;
      background-color:orangered;
  
    }
    .photoBack{
        width: 25%;
    }
    
    .ajout{
        color: white;
        text-align: center;
        font-size: 120%; 
        font-family:'digory_doodlesregular';
       
    }
    .point{
       color:red;
       font-weight: bold;


    }
    .ajout a{
        color:white;
        text-decoration: none;
    }
    h1{
        font-family:'digory_doodlesregular';        
        padding-top: 5%;
        font-size: 222%;       
        /* height: 102px; */
    }
    #red{
        color:white;
    }
    #blue{
        color:blue;
    }
    @media all and (max-device-width:800px){
        h1{
            line-height: 2;
        }
        p.ajout{
            line-height: 2;

        }
        table,
  tbody,
  tr,
  td {
    display: block;
    width: auto;

    }
    .btn1{
        width: 25%;
        margin: 0 auto;
    }
    .btn2{
        width: 25%;
        margin: 0 auto;
    }
    
}

    
    
   